body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    background-color: #333;
    color: white;
    width: 200px;
    padding: 20px;
}

.list {
    list-style-type: none;
    padding: 0;
}

.list-entity {
    margin-bottom: 10px;
}

 .new-entity-button {
     background-color: #009579;
     color: white;
     padding: 10px 20px;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     font-size: 16px;
 }

.new-entity-button:hover {
    background-color: #007f65;
}
