body {
    --color-primary: #009579;
    --color-secondary: #252c6a;
    --color-hover: #25225a;
    --color-error: red;
    --background-button-color: var(--color-secondary);
    background-color: var(--color-primary);
}

.custom-font {
    font: 500 1rem 'Quicksand', sans-serif;
}

.erd--grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.erd-square {
    width: 100%;
    max-width: 500px;
    height: 100px;
    background-color: var(--background-button-color);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: background-color 0.2s;
}

.erd-square:hover {
    background-color: var(--color-hover);
}

.title-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.create-erd-button {
    background-color: var(--background-button-color);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
    text-decoration: none;
}

.create-erd-button:hover {
    background-color: var(--color-hover);
}

.error-message {
    color: var(--color-error);
}

.delete-erds-button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
    text-decoration: none;
}

.delete-erds-button:hover {
    background-color: darkred;
}

.confirm-delete-button {
    background-color: green;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.confirm-delete-button:hover {
    background-color: darkgreen;
}

.cancel-delete-button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.cancel-delete-button:hover {
    background-color: darkred;
}


.button-container {
    display: flex;
    gap: 10px;
}